$colors-primary:#9356DC;
$colors-secondary:#FF79DA;
$colors-trois:#99E2D0;
$colors-gris1:#eaeaea;
$colors-gris2:#f6f6f6;
$colors-white:#fff;
$colors-black:#000;
$colors-gris3:#353535;
$colors-vert1:#99e2d0;
$colors-vert2:#008766;