
.h4ohmyfood{
    font-family: 'Shrikhand', cursive;
}

.contenairegrisfoncer{
    background-color: $colors-gris3;
    width: 100%;
    
    color:$colors-white;
}

.fa-utensils{
    color:$colors-white;
    font-size: 1em;
}
.fa-hands-helping{
    color:$colors-white;
    font-size: 1em;
}

.h4ohmyfood{
    color:$colors-white;
    font-size: 1.5em;
    padding: 4% 0% 3% 5%;
}

.block{
    display: flex;
    padding: 2% 0% 0% 5%;
    p{
        font-size: 1em;
        margin: 0% 0% 0% 3.5%;
    }
    }
.block2{
    display: flex;
    padding: 2% 0% 0% 5%;
    p{
     font-size: 1em;
    margin: 0% 0% 0% 2%;
    }
 }

.block1{
    display: flex;
    padding:2% 0% 0% 5%;
    p{
        font-size: 1em;
    }
   
}
    
footer{
    z-index: 0;
    position: relative; 
}

.block1plus{
    padding-bottom: 10%;
}

@include tablet (){
    .blockpourresponsive{
        display:flex;
        justify-content: space-between;
        padding: 0% 8% 0% 5%;
    }
    .block{
        padding: 0%;
    }
    .block1{
        padding: 0%;
    }
    .block2{
        padding: 0%;
    }
}

@include desktop (){
    .blockpourresponsive{
        .fa-utensils{
            
            font-size: 2em;
        }
        .fa-hands-helping{
            
            font-size: 2em;
        }
        
        .h4ohmyfood{
          
            font-size: 4em;
            padding: 4% 0% 3% 5%;
        }
        
        .block{
          
            padding: 2% 0% 0% 5%;
            p{
                font-size: 2em;
                margin: 0% 0% 0% 3.5%;
            }
            }
        .block2{
            
            padding: 2% 0% 0% 5%;
            p{
             font-size: 2em;
            margin: 0% 0% 0% 2%;
            }
         }
        
        .block1{
           
            padding:2% 0% 0% 5%;
            p{
                font-size: 2em;
            }
           
        }

}
}