.contenaireblanc {

    background-color:$colors-white;
    padding: 5%;
    display: flex;
    align-items: center;
    
    .fa-arrow-left{
        font-size: 1.25em;
        padding-right: 15%;
        padding-top: 4%;
    }
    

    .titre {
        text-align: center;
        font-size: 1.8em;
        padding-top: 4%;
    }

}

a{
    text-decoration: none; 
    color: $colors-black;
    font-size: 1.25em;
    padding-right: 15%;
    padding-top: 4%;
   
    
}
