
html {
    scroll-behavior: smooth;
}
.contenaireblanc {
    background-color: $colors-white;
    padding: 5%;
    box-shadow: 6px -3px 35px -19px rgba(0, 0, 0, 0.3) inset;

    .titre {
        text-align: center;
        font-size: 2em;
        padding-top: 4%;
    }

}

.contenairegris1 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colors-gris1;
   


    .fa-map-marker-alt {
        font-size: 1.25em;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 4%;
    }

    .lieux {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 1.25em;
        padding-top: 1%;

    }
}


.contenairegris2 {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 12%;

    h3 {
        padding-top: 10%;
        padding-bottom: 4%;
        text-align: center;
        font-size: 1.6em;
        font-weight: bold;
    }

    .p1 {
        padding-bottom: 8%;
        text-align: center;
        font-size: 1em;
        ;
        font-family: 'Roboto', sans-serif;
    }
}

@include tablet() {
    .contenaireblanc {
        padding: 2%;
        .titre {
            font-size: 3em;
            padding-top: 2%;
        }
    }
 
    .contenairegris2 {
        padding-bottom: 6%;
        h3 {
            padding-top: 4%;
            padding-bottom: 1%;
          
        }
    
        .p1 {
            padding-bottom: 4%;
      
    }

}
}

@include desktop() {
    .contenaireblanc {
        padding: 2%;
        .titre {
            font-size: 6em;
            padding-top: 2%;
        }
    }
 
    .contenairegris2 {
        padding-bottom: 6%;
        h3 {
            padding-top: 4%;
            padding-bottom: 1%;
            font-size: 3em;
          
        }
    
        .p1 {
            padding-bottom: 4%;
            font-size: 2em;
      
    }

}
.contenairegris1 {
.fa-map-marker-alt {
        font-size: 3.25em;
       
    }

    .lieux {
      
        font-size: 3.25em;
        

    }
}
}
