.contenaireimage{
    z-index: -1;
    position: absolute;
    background-image: url(./image/restaurant1.jpg);
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 120%;
    background-position: 55% 168%;
    background-repeat: no-repeat;

    .innervide{
        display:block;
        height:0;
        padding-top:72.24%;
      }
}

.blockgris {
    z-index: 0;
    position: relative;
    top: 166px;
    background-color: #f6f6f6;
    padding: 0%;
    height: 3000px;
    padding-top: 2%;
    border-radius: 15%/1% 1% 0% 0%;
}
.soustitre{
    display: flex;
    padding-top: 8%;    
}
.blocksousplussous{
   
    padding-left: 5.5%;
    padding-top: 5%;

        
        .traitvert{
            width: 40px;
            height: 2px;
            background-color: $colors-vert1;
        }
}
.coeur{
    
    font-size: 4em;
    width: 20px;
    height:20px;
    background-image: url(./asset/heart-regular.svg);
   }
  
   .coeur:hover  {
     background-image: url(./asset/heart-solid.svg); 
     color: $colors-primary;
     transition: 0.5s;
   }

.restopage{
    margin-left: 6%;
    margin-right: 18%;
}












.boutonviolet {
    margin-left: 30%;
    width: 42%;
    height: 100px;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    color: $colors-white;
    font-size: 1.8em;
    text-align: center;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    position: relative;
    z-index: 1;
    box-shadow:-16px 28px 77px -45px rgba(0,0,0,0.48); 
    &:hover {
        &::after {
            opacity: 1;
    }
}
     &::after {
    content: "";
    position: absolute;
    border-radius: 10rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    background:linear-gradient(0deg, rgba(168,122,223,1) 0%, rgba(255,148,226,1) 100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    box-shadow: 21px 28px 77px -25px rgba(0, 0, 0, 0.80);
}
}
