.contenaireimage{
    z-index: -1;
    position: absolute;
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;

    .innervide{
        display:block;
        height:0;
        padding-top:71.24%;
      }
}

.blockgris {
    z-index: 0;
    position: relative;
    top: 182px;
    background-color: #f6f6f6;
    padding: 0%;
   
    padding-top: 2%;
    border-radius: 15%/3% 3% 0% 0%;
}
.soustitre{
    display: flex;
    padding-top: 8%;    
}
.blocksousplussous{
   
    padding-left: 5.5%;
    padding-top: 5%;

        
        .traitvert{
            width: 40px;
            height: 2px;
            background-color: $colors-vert1;
        }
}
.coeur{
    
    font-size: 4em;
    width: 20px;
    height:20px;
    background-image: url(./asset/heart-regular.svg);
   }
  
   .coeur:hover  {
     background-image: url(./asset/heart-solid.svg); 
     color: $colors-primary;
     transition: 0.5s;
   }

.restopage{
    margin-left: 6%;
    margin-right: 18%;
}
.entrees{
    animation: fadeIn 1s;
}
.plats{
    animation: fadeIn 2s;
}
.desserts{
    animation: fadeIn 2.5s;
padding-bottom: 9%;
}

