body{
    background-color: #f6f6f6;
}

.contenaireimage{
   

    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;

    .innervide{
        display:block;
        height:0;
        padding-top:56.24%;
      }
}

.blockgris {
    top:-26px;
    position: relative;
    background-color: #f6f6f6;
    padding: 0%;
   
    padding-top: 2%;
    border-radius: 15%/3% 3% 0% 0%;
}
.soustitre{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;    
}
.blocksousplussous{
   
    padding-left: 5.5%;
    padding-top: 5%;

        
        .traitvert{
            width: 40px;
            height: 2px;
            background-color: $colors-vert1;
        }
}
.coeur{
    
    font-size: 4em;
    width: 20px;
    height:20px;
    background-image: url(./asset/heart-regular.svg);
    background-repeat: no-repeat;
   }
  
   .coeur:hover  {
     background-image: url(./asset/heart-solid.svg); 
     color: $colors-primary;
     transition: 0.5s;
   }

.restopage{
    margin-left: 0%;
    margin-right: 27%;
}
.entrees{
    animation: fadeIn 1s;
}
.plats{
    animation: fadeIn 2s;
}
.desserts{
    animation: fadeIn 2.5s;
padding-bottom: 9%;
}

.boutonresto {
width: 55%;
}



@include tablet (){
    
.blockgris {
    top:-100px;
}

    .coeur{
    
        width: 50px;
        height:50px;
      
       }
       .blocksousplussous{
       .traitvert{
                width: 70px;
                height: 4px;
                background-color: $colors-vert1;
            }
    }
    .restopage{
        margin-left: 0%;
        margin-right: 22%;
    }
}

@include desktop (){
    body{
        background-color: $colors-white;
    }

    .blockgris {
        width: 50%;
        margin:auto;
        border-radius: 8%/3% 3% 0% 0%;

    }
    .restopage{
        margin-left: 0%;
        margin-right: 0%;
    }
}