.contenaireblanc2 {
    background-color: $colors-white;
    padding: 1%;    
}


.restaurantgris2 {
    background-color: $colors-gris2;
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 20%;
}