/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.pbasse {
  font-family: "Roboto", sans-serif;
}

.titre2 {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
  font-size: 2em;
  margin-left: 6%;
  margin-top: 8%;
}

.h3barre {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
}

.restopage {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  font-weight: bold;
}

.soustitreresto {
  font-family: "Roboto", "sans-serif";
}

.h3barre {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .titre2 {
    margin-top: 4%;
  }

  .restopage {
    font-size: 2.8em;
  }

  .soustitreresto {
    font-size: 1.8em;
  }
}
.boutonviolet {
  margin: auto;
  width: 75%;
  align-items: center;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: #fff;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  padding: 1.5rem 0rem;
  border-radius: 10rem;
  transform: scale(1);
  box-shadow: -16px 28px 77px -45px rgba(0, 0, 0, 0.48);
}
.boutonviolet:hover::after {
  opacity: 1;
}
.boutonviolet::after {
  content: "";
  position: absolute;
  border-radius: 10rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #a87adf 0%, #ff94e2 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: 21px 28px 77px -25px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 700px) {
  .boutonviolet {
    width: 40%;
  }
}
@media screen and (min-width: 1100px) {
  .boutonviolet {
    width: 30%;
  }
}
* {
  box-sizing: border-box;
}

.fade-in-up {
  animation: fadeIn 1s ease;
}
.fade-in-up:nth-child(1) {
  animation-duration: 1s;
}
.fade-in-up:nth-child(2) {
  animation-duration: 2s;
}
.fade-in-up:nth-child(3) {
  animation-duration: 3s;
}
.fade-in-up:nth-child(4) {
  animation-duration: 4s;
}
.fade-in-up:nth-child(5) {
  animation-duration: 5s;
}
.fade-in-up:nth-child(6) {
  animation-duration: 6s;
}
.fade-in-up:nth-child(7) {
  animation-duration: 7s;
}
.fade-in-up:nth-child(8) {
  animation-duration: 8s;
}
.fade-in-up:nth-child(9) {
  animation-duration: 9s;
}

.stepmenu {
  box-shadow: 1px 9px 300px -28px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  display: flex;
  width: 92%;
  justify-content: space-between;
  margin: 20px auto;
  border-radius: 14px;
  overflow: hidden;
}
.stepmenu .texte {
  width: calc(100% - 27px);
  padding: 10px 0px 0px 10px;
  margin-bottom: 10px;
}
.stepmenu .h3barre {
  padding: 2% 0% 3% 0%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}
.stepmenu .h3barre, .stepmenu .pbasse {
  overflow: hidden;
  text-overflow: ellipsis;
}
.stepmenu .pbasse {
  font-size: 0.8em;
}
.stepmenu aside {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  margin-right: 15px;
  align-self: flex-end;
  font-weight: bold;
}
.stepmenu .carre {
  display: flex;
  max-width: 0;
  width: 0px;
  background-color: #99e2d0;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  transition: 0.75s;
}
.stepmenu .carre .fa-check-circle {
  transform: rotate(-360deg);
  transition: 0.75s;
}
.stepmenu:hover {
  white-space: nowrap;
}
.stepmenu:hover .texte {
  width: calc(100% - 120px);
}
.stepmenu:hover .carre {
  max-width: 80px;
  width: 80px;
  transition: 0.75s;
}
.stepmenu:hover .fa-check-circle {
  font-size: 2em;
  transform: rotate(0deg);
  transition: 0.75s;
}

@media screen and (min-width: 700px) {
  .stepmenu {
    box-shadow: 1px 9px 44px -28px rgba(0, 0, 0, 0.75);
  }
  .stepmenu .h3barre {
    padding: 5px 0px 5px 0px;
    font-size: 1.8em;
  }
  .stepmenu .pbasse {
    font-size: 1.1em;
    padding-bottom: 1%;
  }
  .stepmenu .aside {
    font-size: 1.1em;
    margin-bottom: 18px;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.contenaireimage {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
}
.contenaireimage .innervide {
  display: block;
  height: 0;
  padding-top: 56.24%;
}

.resto-1 {
  background-image: url(./image/restaurant1.jpg);
  background-position: 55% 0%;
}

.resto-2 {
  background-image: url(./image/restaurant2.jpg);
  background-position: 55% 0%;
}

.resto-3 {
  background-image: url(./image/restaurant3.jpg);
  background-position: 55% 0%;
}

.resto-4 {
  background-image: url(./image/restaurant4.jpg);
  background-position: 55% 0%;
}

.contenaireblanc {
  background-color: #fff;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contenaireblanc .fa-arrow-left {
  font-size: 1.25em;
  padding-right: 15%;
}
.contenaireblanc .titre {
  text-align: center;
  font-size: 1.8em;
  justify-self: center;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.25em;
  position: absolute;
  left: 40px;
}

@media screen and (min-width: 700px) {
  .contenaireblanc .fa-arrow-left {
    font-size: 1.25em;
  }
  .contenaireblanc .titre {
    font-size: 3.8em;
  }

  a {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 1100px) {
  .contenaireblanc .fa-arrow-left {
    font-size: 1.25em;
  }
  .contenaireblanc .titre {
    font-size: 3.8em;
  }

  a {
    font-size: 2.25em;
  }
}
body {
  background-color: #f6f6f6;
}

.contenaireimage {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
}
.contenaireimage .innervide {
  display: block;
  height: 0;
  padding-top: 56.24%;
}

.blockgris {
  top: -26px;
  position: relative;
  background-color: #f6f6f6;
  padding: 0%;
  padding-top: 2%;
  border-radius: 15%/3% 3% 0% 0%;
}

.soustitre {
  display: flex;
  justify-content: space-evenly;
  padding-top: 8%;
}

.blocksousplussous {
  padding-left: 5.5%;
  padding-top: 5%;
}
.blocksousplussous .traitvert {
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}

.coeur {
  font-size: 4em;
  width: 20px;
  height: 20px;
  background-image: url(./asset/heart-regular.svg);
  background-repeat: no-repeat;
}

.coeur:hover {
  background-image: url(./asset/heart-solid.svg);
  color: #9356DC;
  transition: 0.5s;
}

.restopage {
  margin-left: 0%;
  margin-right: 27%;
}

.entrees {
  animation: fadeIn 1s;
}

.plats {
  animation: fadeIn 2s;
}

.desserts {
  animation: fadeIn 2.5s;
  padding-bottom: 9%;
}

@media screen and (min-width: 700px) {
  .blockgris {
    top: -100px;
  }

  .coeur {
    width: 50px;
    height: 50px;
  }

  .blocksousplussous .traitvert {
    width: 70px;
    height: 4px;
    background-color: #99e2d0;
  }

  .restopage {
    margin-left: 0%;
    margin-right: 22%;
  }
}
@media screen and (min-width: 1100px) {
  body {
    background-color: #fff;
  }

  .blockgris {
    width: 50%;
    margin: auto;
    border-radius: 8%/3% 3% 0% 0%;
  }

  .restopage {
    margin-left: 0%;
    margin-right: 0%;
  }
}
.block1plus {
  padding: 0% 0% 0% 0%;
}

@media screen and (min-width: 700px) {
  .blockpourresponsive {
    display: flex;
    justify-content: space-between;
    padding: 0% 8% 0% 5%;
  }

  .block {
    padding: 0%;
  }

  .block1 {
    padding: 0%;
  }

  .block2 {
    padding: 0%;
  }
}
@media screen and (min-width: 1100px) {
  .h4ohmyfood {
    font-size: 3em;
    padding: 2% 0% 3% 5%;
  }

  .blockpourresponsive .fa-utensils {
    font-size: 1.5em;
  }
  .blockpourresponsive .fa-hands-helping {
    font-size: 1.5em;
  }
  .blockpourresponsive .block p {
    font-size: 1.5em;
    margin: 0% 0% 0% 3.5%;
  }
  .blockpourresponsive .block2 p {
    font-size: 1.5em;
    margin: 0% 0% 0% 2%;
  }
  .blockpourresponsive .block1 p {
    font-size: 1.5em;
  }
  .blockpourresponsive .block1plus {
    padding-bottom: 6%;
  }
}
.contenairegrisfoncer {
  background-color: #353535;
  width: 100%;
  color: #fff;
}

.fa-utensils {
  color: #fff;
  font-size: 1em;
}

.fa-hands-helping {
  color: #fff;
  font-size: 1em;
}

.h4ohmyfood {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-size: 1.5em;
  padding: 4% 0% 3% 5%;
}

.block {
  display: flex;
  padding: 2% 0% 0% 5%;
}
.block p {
  font-size: 1em;
  margin: 0% 0% 0% 3.5%;
}

.block2 {
  display: flex;
  padding: 2% 0% 0% 5%;
}
.block2 p {
  font-size: 1em;
  margin: 0% 0% 0% 2%;
}

.block1 {
  display: flex;
  padding: 2% 0% 0% 5%;
}
.block1 p {
  font-size: 1em;
}

.block1plus {
  padding-bottom: 10%;
}

@media screen and (min-width: 700px) {
  .blockpourresponsive {
    display: flex;
    justify-content: space-between;
    padding: 0% 8% 0% 5%;
  }

  .block {
    padding: 0%;
  }

  .block1 {
    padding: 0%;
  }

  .block2 {
    padding: 0%;
  }
}
@media screen and (min-width: 1100px) {
  .h4ohmyfood {
    font-size: 3em;
    padding: 2% 0% 3% 5%;
  }

  .blockpourresponsive .fa-utensils {
    font-size: 1.5em;
  }
  .blockpourresponsive .fa-hands-helping {
    font-size: 1.5em;
  }
  .blockpourresponsive .block p {
    font-size: 1.5em;
    margin: 0% 0% 0% 3.5%;
  }
  .blockpourresponsive .block2 p {
    font-size: 1.5em;
    margin: 0% 0% 0% 2%;
  }
  .blockpourresponsive .block1 p {
    font-size: 1.5em;
  }
  .blockpourresponsive .block1plus {
    padding-bottom: 6%;
  }
}

/*# sourceMappingURL=style1.css.map */
