* { box-sizing: border-box;  }

.stepmenu{
  background-color: $colors-white;
  display: flex;
  width: 92%;
  justify-content: space-between;
  margin: 5% auto;
  border-radius: 14px;
  overflow: hidden;
 
  .texte {
    width: calc(100% - 27px);
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .h3barre {
    padding: 0%;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 3.2em;
    margin: -12px 1px;
    text-align: left;
  }
  .h3barre, .pbasse{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pbasse{
    font-size: 0.8em;
  }
  aside {
    margin-bottom: 10px;
    margin-right: 15px;
    align-self: flex-end;
    font-weight: bold;
  }
  .carre{
  display: flex;
  max-width: 0;
  width:0px;
  background-color: $colors-vert1;
  color: $colors-white;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  transition: 0.75s;
  .fa-check-circle {
    transform: rotate(-360deg);
    transition: 0.75s;
  }
&:hover{
  white-space: nowrap;
  .texte {
    width: calc(100% - 120px);
  }
  .carre{
    max-width: 80px;
    width: 80px;
    transition: 0.75s;
  }
  .fa-check-circle{
    transform: rotate(0deg);
    transition: 0.75s;
  }
}
}
}

