

.boutonviolet {
    
    margin: auto;
    width: 75%;
    align-items: center;
    background: linear-gradient(0deg, $colors-primary 0%, $colors-secondary 100%);
    color: $colors-white;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: 1.5rem 0rem;
    border-radius: 10rem;
    transform: scale(1);
   
    box-shadow: -16px 28px 77px -45px rgba(0, 0, 0, 0.48);
    &:hover {
        &::after {
            opacity: 1;
    }
}
     &::after {
    content: "";
    position: absolute;
    border-radius: 10rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    background:linear-gradient(0deg, rgba(168,122,223,1) 0%, rgba(255,148,226,1) 100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    box-shadow: 21px 28px 77px -25px rgba(0, 0, 0, 0.80);
}
}


@include tablet(){
    .boutonviolet {
         width: 40%;
         
    }
}
@include desktop() {
    .boutonviolet {
    width: 30%;
}
}