.contenaireimage{

    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;

    .innervide{
        display:block;
        height:0;
        padding-top:56.24%;
      }
}
.resto-1{
  background-image: url(./image/restaurant1.jpg);
  background-position: center;
}
.resto-2{
  background-image: url(./image/restaurant2.jpg);
  background-position:center;
}
.resto-3{
  background-image: url(./image/restaurant3.jpg);
  background-position: center;
}
.resto-4{
  background-image: url(./image/restaurant4.jpg);
  background-position: center;
}