.section{
    background-color:white;
    height:500px;
    line-height: 500px;
      
    }
    .loader{
     width: 100px;
     height: 100px;
     display: inline-block;
     vertical-align: middle; 
     position:relative; 
    }
    .loader-quart{
     position:relative;
     border-radius: 100px;
     border: 20px solid rgba(150, 141, 141, 0.4);
    }
    .loader-quart:after{
        content: "";
        position:absolute;
        width: 100px;
        height: 100px;
        top:-20px;
        bottom: -20px;
        left: -20px;
        right: -20px;
        border-radius: 100px;
        border: 20px solid transparent;
        border-top-color:#9356DC;
        animation: spin 1s linear infinite;
     }
    
    @keyframes spin{
        0%{-webikit-transform: rotate(0deg); transform: rotate(0deg); 
          }
        100%{-webikit-transform: rotate(360deg); transform: rotate(360deg); 
          }
    }