

.stepcomplet{
    display: flex;
    justify-content: center;
    align-items: center; 
 
    
    .boutongris {
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      margin: 4%;
      width:82%;
      height: 64px;
      border-radius: 15px;
      text-align: center;
      font-size: 1em;
      position: relative;
      box-shadow: 2px 18px 33px -24px rgba(0, 0, 0, 0.48);
      transition: background-color 250ms;
        &:hover{
          background-color: darken($colors-gris2, 5);
        }
              
            
    }
   .boutongris:hover .fa-mobile-alt{
     color: $colors-primary;
   }
   .boutongris:hover .fa-list-ul{
    color: $colors-primary;
  }
  .boutongris:hover .fa-store{
    color: $colors-primary;
  }

   .cercleviolet{
      
    background: #9356DC;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(67% - 22px);
    left: -11px;
    z-index: 100;
       
    }
    .cercleviolet p {
        margin-top: 22%;
        color:$colors-white;
        font-size: 1em;
      }



.fa-mobile-alt{
   margin-right: 2%;
   font-size:  150%;
   padding-right: 6%;
   padding-left: 9%;
   
  
}


.fa-list-ul{
  margin-right: 2%;
  font-size:  150%;
  padding-right: 4%;
  padding-left: 8%;
   
}
.fa-store{
  margin-right: 2%;
  font-size:  150%;
  padding-right: 2%;
  padding-left: 7%;
}


.ps{
  font-size: 1em;
  text-align: center;
}

}