h1 {
    font-family: 'Shrikhand', cursive;
    
}
h3{
    font-family:'Roboto', sans-serif;
}
p {
    font-family:'Roboto', sans-serif;
}
.pbasse{
    font-family:'Roboto', sans-serif;
}


.titre2 {
     font-family: 'Roboto', "sans-serif";
     font-weight: bold;
     font-size: 1.5em;
     margin-left: 6%;
     margin-top: 8%;
     
     }
.h3barre{
        font-family: 'Roboto', "sans-serif";
        font-weight: bold;
}




.restopage{
    font-family: 'Shrikhand', cursive;
    font-size: 1.2em;
    font-weight: bold;
}

.soustitreresto{
    font-family:'Roboto', "sans-serif";
    padding-bottom: 5px;
    
}
.h3barre{
    font-family: 'Roboto', "sans-serif";
    font-weight: bold;
}

a{
    text-decoration: none;    
}

@include tablet() {
    .titre2{
    margin-top: 4%;
}
.restopage{
    
    font-size: 2.8em;

}
.soustitreresto{
    font-size: 1.8em;
    
}

}